package components

import "path/filepath"

func GalleryImg() string {
	return ""
}

templ Gallery(imgs []string) {
	<div class="grid gap-8 grid-cols-4 mx-auto my-4 w-fit">
		for _, img := range imgs {
			<div>
				<img src={ img } class="rounded-md"/>
				<span>{ img }</span>
				<span>{ filepath.Base(img) }</span>
			</div>
		}
	</div>
}
